testes/
.vscode/
Logs/*
individual/Logs/*

individual/serial_read
individual/gps_test
individual/lora_rx
individual/lora_tx
individual/telemetry
individual/windvane
individual/windvane2
individual/compass
individual/servo
individual/logger
individual/rf
*.o
*.gch

sail
boat
